.header {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 72px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.left-side {
    font-size: 24px;
    font-weight: bold;
    color: rgb(176, 37, 176);
    display: flex;
}

.right-side {
    padding-right: 36px;
    font-size: 18px;
    color:  rgb(176, 37, 176);
}

.text-container {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.image-1 {
    width: auto;
    height: 350px;
}

img {
    border-radius: 15px;
    max-width: 100%;
    max-height: 100%;
}

.main-text {
    color: rgb(176, 37, 176);
    width: 8em;
    font-size: 48px;
    font-weight: bolder;
}

.sub-text {
    font-size: 18px;
    color: rosybrown;
    width: 10em;
}

.text, .button {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}