.header {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 72px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.left-side {
    font-size: 24px;
    font-weight: bold;
    color: rgb(176, 37, 176);
    display: flex;
}

.right-side {
    padding-right: 36px;
    font-size: 18px;
    color:  rgb(176, 37, 176);
}

.text-container {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.image-1 {
    width: auto;
    height: 350px;
}

img {
    border-radius: 15px;
    max-width: 100%;
    max-height: 100%;
}

button {
    width: 80px;
    height: 30px;
    background-color: plum;
    color: whitesmoke;
}

.main-text {
    color: rgb(176, 37, 176);
    width: 8em;
    font-size: 48px;
    font-weight: bolder;
}

.sub-text {
    font-size: 18px;
    color: rosybrown;
    width: 18em;
}

.hero {
    margin: 20px;
    gap: 16px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}